<!DOCTYPE html>
<html>

<head>
    <title>Inscription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h2>Inscription</h2>
    <form method="POST">
        <input type="text" name="nom" placeholder="Nom complet" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="mot_de_passe" placeholder="Mot de passe" required><br>
        <select name="role" required>
            <option value="">Choisir rôle</option>
            <option value="admin">Admin</option>
            <option value="enseignant">Enseignant</option>
            <option value="candidat">Candidat</option>
        </select><br>
        <button type="submit">S'inscrire</button>
    </form>
    <p>Déjà inscrit ? <a href="{{ url_for('login') }}">Connexion</a></p>
</body>

</html>